<div class="">
        
             
</div>
<div class='flex justify-center'> <input type="search" name="" id="" class=" p-2 text-5xl rounded-full drop-shadow-2xl h-20 w-[33%] flex justify-center ">
<button class=" py-2 px-8 rounded-full font-semibold text-white text-2xl  bg-orange-600 hover:bg-orange-700  h-20 w-[21%]" type="submit">Search Recipe</button>
</div>
<div  class="md:flex text-center md:justify-center md:items-center md:w-1/2 text-white text-3xl md:space-x-10 space-y-10 md:space-y-0">
<div>
</div>
  </div>